@model List<Category>
@{
    ViewBag.Title = "Category Manager";
}

<h1>Category Manager</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Edit"
                   asp-route-id="@category.CategoryId"
                   class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete"
                   asp-route-id="@category.CategoryId"
                   class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary mb-3">Add A Category</a>